/* Name the sections*/
.main-head {
    grid-area: header;
}
.content {
    grid-area: content;
}
.main-nav {
    grid-area: nav;
}
.side {
    grid-area: sidebar;
}
.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}

/* 1 column layout for small devices. */
.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "nav"
      "content"
      "sidebar"
      "ad"
      "footer";
}

/* 2 column layout for medium devices */
@media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "header  header"
        "nav     content"
        "nav     sidebar"
        "nav     ad"
        "footer  footer";
    }
    nav ul {
      flex-direction: column;
    }
}

/* 3 column layout for larger devices */
@media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    content sidebar"
        "nav    content ad"
        "footer footer  footer"
     }
     nav ul {
       flex-direction: column;
     }
}

/* Content formatting */
.main-head {
  Font-Family: 'Roboto Condensed', Sans-Serif;
  Font-Size: 35px;
  justify-self: center;
}
body {
  Font-Family: 'Cabin', Sans-Serif;
  Font-Size: 16px;
}
.main-footer {
  justify-self: center;
}
ul.nav-list {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
}
section {
  padding-left: 0px;
}
h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;  
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  text-decoration: underline;
}
h3 {
  display: block;
  font-size: 1.16em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  text-decoration: underline; 
}
h4 {
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  text-decoration: underline;
}
h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bolder;
  font-style: italic;
  text-decoration: underline;
}
.intro-text {
  position: relative;
  right: 20px;
}

/* CSS for collapsible menu groups */
.menu-group-input { /* Hides checkbox */
    position: absolute;
    opacity: 0;
}
  
.menu-group-list { /* Hides submenu by default */
    display: none;
}
  
.menu-group-input:checked ~ .menu-group-list { /* Shows submenu when checked */
    display: block;
}